

 <div class="background-container">
    <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>StayWander</span>
    <span class="example-spacer"></span>
<button mat-raised-button (click)="open()" >login</button>
<fa-icon [icon]="faCoffee"></fa-icon>
  </mat-toolbar>
</div>

  <mat-divider></mat-divider>
 <mat-drawer-container >

  <mat-drawer-content>
sdsdsad
     <router-outlet></router-outlet>
  </mat-drawer-content>


  <mat-drawer #drawer opened="false" mode="side" position="end">

    <p>Drawer content</p>
  </mat-drawer>
</mat-drawer-container>


