// .background-container {

// background-image: url('../../../assets/img/loginImage.jpg');
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   width: 100%;
//   height: 100vh;

//   color: white;
// }

.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
      background: rgba(255, 255, 255, 0.46);
  color: black;
}


