.background-container {

  background-image: url("../assets//img/loginImage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

  color: white;
}
