

.messages {

  width: 200px;
  height: 250px;

  padding: 30px;
  border-radius: 5px;

}

.messages a {
  display: block;
  text-decoration: none;
color: black;
  margin-bottom: 5px;
}

.messages a:hover {
  text-decoration: none;
}
.container{
  /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

