

.sidenav {
  width: 200px;
    background: #ffffff;
    border-radius: 5px;

    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.sidenav .mat-toolbar {
  background: inherit;
}


