<div class="wrapper">


  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose Sun Rise?</h3>
            <p>
              Sun Rise Public School stands as a distinguished institution, offering a unique and enriching educational experience for students. Choosing Sun Rise for your child's education is choosing a holistic approach to learning, where academic excellence meets character development and a commitment to the future.

            Choosing Sun Rise Public School is choosing a pathway to
            excellence, where every student is guided, supported, and inspired
            to reach their fullest potential. Join us in providing your child with an
            education that goes beyond textbooks, embracing a journey of growth, discovery,
             and success. Welcome to Sun Rise, where each sunrise symbolizes new
             opportunities for learning and achievement.

            </p>
            <div class="text-center">
              <a routerLink="./aboutus" class="more-btn"
                >Learn More <i class="bx bx-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
        <div
          class="col-lg-8 d-flex align-items-stretch"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Academic Excellence:</h4>
                  <p>
                    At Sun Rise, we prioritize academic excellence through a curriculum
                     designed to meet the highest educational standards. Our dedicated and qualified
                     faculty employs innovative teaching methodologies to ensure that students not only grasp core
                     concepts but also develop critical thinking and problem-solving skills.
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Holistic Development:</h4>
                  <p>
                   We believe in nurturing well-rounded individuals. Beyond academics,
                   our comprehensive approach to education includes character development,
                    extracurricular activities, and opportunities for personal growth.
                     Students at Sun Rise are encouraged to explore their interests and talents,
                   fostering a holistic development that goes beyond the classroom.
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Community-Centric Values:</h4>
                  <p>
                  Sun Rise Public School is deeply rooted in the local community.
                   We believe in building a strong partnership with parents, guardians,
                    and the community to create a supportive and nurturing environment for
                    every student. Our community-centric values create a sense of
                   belonging and support for both students and their families.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End .content-->
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
</div>
